.random-six {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 1200px;
    height: 800px;
    padding-bottom: 60px;
    margin: 10px auto;
}

.random-item {
    border: 1px solid brown;
    width: 390px;
    height: 390px;
    position: relative;
}

.character-img {
    display: block;
    width: 55%;
    height: 70%;
    margin: 0 auto;
}

.search-btn {
    display: block;
    margin: 30px auto;
    font-family: 'Signika', sans-serif;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    background-color: brown;
    color: #fffdfe;
    border: 0;
    cursor: pointer;
    outline: none;
}

.search-btn:hover {
    background-color: #d42f2f;
}

.search-btn:active {
    background-color: brown;
}

.props {
    text-align: center;
    position: relative;
    padding-left: 15px;
    padding-top: 10px;
    color: #fffdfe;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
}

.btn-del {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: brown;
    border: 0;
    outline: none;
}

.loading, .done {
    position: absolute;
    color: wheat;
    margin-top: 50px;
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 50px;
}

.btn-info {
    position: absolute;
    font-family: 'Signika', sans-serif;
    cursor: pointer;
    right: 5px;
    top: 10px;
    width: 50px;
    font-size: 15px;
    border: 0;
    border-radius: 8px;
    background-color: brown;
    color: #ffd466;
    outline: none;
    z-index: 5;
}

.btn-info:hover {
    background-color: #cd341b;
}

.btn-info:active {
    background-color: brown;
}

.appearance {
    margin-left: -40px;
}
