.all-info {
    width: 1240px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

img {
    width: 300px;
    height: 400px;
    display: block;
    margin: auto;
}

.char-info h2{
    text-align: left;
    line-height: 48px;
}

ul {
    list-style: none;
}

h2>span {
    color: #c94f4f;
}

li>h2 {
    color: #8BC34A;
}
.about-char {
    position: relative;
    width: 1240px;
    margin: 50px auto;
}

.next-char-info {
    position: absolute;
    font-family: 'Signika', sans-serif;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    background-color: brown;
    border: 0;
    color: white;
    cursor: pointer;
    outline: none;
}

.next-char-info:hover {
    background-color: #cd341b;
}

.next-char-info:active {
    background-color: brown;
}